$backgrColor: #F4F4F4;
$borderFormPart2: #E4E4E4;
$bgFormPart2: white;
$formPart2TextBlackColor: #212121;
$formPart2TextGreenColor: #428A60;
$formPart2h1BigBg: #F8F8F8;
$formPart2InputBorder: #E4E4E4;
$formPart2OptionHover: #a39e9e;